<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ service_name }}</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
        .tooltip-text {
            border-bottom: 1px dotted #007BFF;
            /* Bootstrap primary color */
            cursor: help;
        }

        /* Coloring every 4th and 5th rows starting from the 2nd row */
        .container>.row:nth-child(4n+2),
        .container>.row:nth-child(4n+3) {
            background-color: #f8f9fa;
            /* Light gray */
        }

        .container>.row:not(.additional):not(.container > :first-child) {
            border-top: 1px solid #dee2e6;
        }

        .container>.row {
            padding: 1em;
        }

        .container>.row:first-child {
            font-weight: bolder;
        }

        .container>.row.toggle-row:hover {
            cursor: pointer;
            background-color: #daecfd;
        }

        .sticky-navbar {
            position: sticky;
            top: 0;
            z-index: 1030;
            /* to ensure navbar stays on top */
        }
    </style>
</head>

<body>
    <div class="sticky-navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark shadow">
            <div class="container-fluid">
                <a class="navbar-brand ps-3" href="/">{{ service_name }}</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    <ul class="navbar-nav">
                        <li class="nav-item"><a class="nav-link" href="/programs">Programs</a></li>
                        <li class="nav-item"><a class="nav-link" href="/runs">Runs</a></li>
                        <li class="nav-item"><a class="nav-link" href="/libraries">Libraries</a></li>
                        <li class="nav-item"><a class="nav-link" href="/users_tokens">Users, Tokens</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category or 'primary' }} alert-dismissible fade show" role="alert">
        {{ message|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>


    {% if activity is defined %}
    <div class="container">
        <div class="position-fixed top-0 end-0 p-3" style="z-index: 1031; top:70px">
            <div id="toaster" class="toast align-items-center border border-success" role="alert"
                data-bs-autohide="false">
                <div class="d-flex">
                    <div class="toast-body">
                        A task is completed! Click <a href="#" id="reload-link">here</a> to reload.
                    </div>
                    <button type="button" class="btn-close me-2 m-auto" data-bs-dismiss="toast"
                        aria-label="Close"></button>
                </div>
            </div>
        </div>

        <div class="mt-5 pt-3">
            <div class="container-fluid">
                <p id="status">{{ activity }}</p>
            </div>
        </div>
    </div>
    {% endif %}
</body>

<script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
<script>
    // show/hide the additional row
    function toggleRow(event) {
        let currentRow = event.currentTarget;
        let nextRow = currentRow.nextElementSibling;

        // Check if the next row exists and has the "additional" class
        if (nextRow && nextRow.classList.contains('additional')) {
            // Toggle visibility
            if (nextRow.style.display === 'none') {
                nextRow.style.display = '';
                currentRow.classList.add('active'); // Add active class
            } else {
                nextRow.style.display = 'none';
                currentRow.classList.remove('active'); // Remove active class
            }
        }
    }

    // don't allow submitting forms without filling required fields
    document.addEventListener('DOMContentLoaded', function () {
        var toggleRows = document.querySelectorAll('.toggle-row');
        toggleRows.forEach(function (row) {
            row.addEventListener('click', toggleRow);
        });
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl)
        })

        let requiredInputs = document.querySelectorAll('input[required]');
        let submitButton = document.getElementById('submitButton');

        function checkInputs() {
            let allFilled = true;
            requiredInputs.forEach(input => {
                if (input.value.trim() === "") {
                    allFilled = false;
                }
            });
            submitButton.disabled = !allFilled;
        }

        // Attach event listeners to the inputs
        requiredInputs.forEach(input => {
            input.addEventListener('keyup', checkInputs);
            input.addEventListener('input', checkInputs);
        });
    });

    // if email field is invalid, disallow sending
    document.addEventListener('submit', function (e) {
        var emailInput = e.target.querySelector('#emailInput');
        if (emailInput) {
            if (!areValidEmails(emailInput.value)) {
                e.preventDefault(); // Prevent form submission
                // Apply Bootstrap validation error styling
                emailInput.classList.add('is-invalid');

                // Show the modal
                var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                errorModal.show();
            } else {
                // If the email is valid, remove the error styling if it exists
                emailInput.classList.remove('is-invalid');
            }
        }
    });

    // how to verify emails
    function areValidEmails(input) {
        if (input == "") { return true; }

        var emails = input.split(/[,;\s]+/);  // Split by comma, semicolon, or whitespace
        var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

        for (var i = 0; i < emails.length; i++) {
            var trimmedEmail = emails[i].trim();
            if (!emailPattern.test(trimmedEmail)) {
                return false;
            }
        }
        return true;
    }

    // if there was activity, periodically check for updates
    {% if activity is defined %}
    function checkStatus() {
        const statusElement = document.getElementById('status');
        const currentStatus = statusElement.innerText.trim();

        if (currentStatus[0] !== '0') {
            fetch('/check_status', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    status: currentStatus // Sending the inner text of status element
                })
            })
                .then(response => response.json())
                .then(data => {
                    if (data.to_reload) {
                        statusElement.innerText = data.active_msg;
                        const toaster = new bootstrap.Toast(document.getElementById('toaster'));
                        toaster.show();
                        document.getElementById('reload-link').addEventListener('click', function () {
                            location.reload();
                        });
                    }
                })
                .catch(error => {
                    console.error("Error fetching data: ", error);
                });
        }
    }

    // Fetch the status immediately upon page load
    checkStatus();

    // Set the function to recur every second
    setInterval(checkStatus, 1000);



    {% endif %}
</script>

</html>