<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>GEP Host Service</title>
    <link href="{{ url_for('static', filename='css/bootstrap.min.css') }}" rel="stylesheet">
    <style>
        .tooltip-text {
            border-bottom: 1px dotted #007BFF;
            /* Bootstrap primary color */
            cursor: help;
        }

        /* Coloring every 4th and 5th rows starting from the 2nd row */
        .container>.row:nth-child(4n+2),
        .container>.row:nth-child(4n+3) {
            background-color: #f8f9fa;
            /* Light gray */
        }

        .container>.row:not(.additional):not(.container > :first-child) {
            border-top: 1px solid #dee2e6;
        }

        .container>.row {
            padding: 1em;
        }

        .container>.row:first-child {
            font-weight: bolder;
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand ps-3" href="/"> GEP Host Service</a>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav">
                <li class="nav-item"><a class="nav-link" href="/programs">Programs</a></li>
                <li class="nav-item"><a class="nav-link" href="/runs">Runs</a></li>
                <li class="nav-item"><a class="nav-link" href="/libraries">Libraries</a></li>
                <li class="nav-item"><a class="nav-link" href="/users_tokens">Users, Tokens</a></li>
            </ul>
        </div>
    </nav>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    {% for category, message in messages %}
    <div class="alert alert-{{ category or 'primary' }} alert-dismissible fade show" role="alert">
        {{ message|safe }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
        </button>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
    <div class="container">
        {% block content %}
        {% endblock %}
    </div>
    <script src="{{ url_for('static', filename='js/jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    <script>
        function toggleButtonText(buttonElement) {
            if (buttonElement.innerHTML === "Show") {
                buttonElement.innerHTML = "Hide";
            } else {
                buttonElement.innerHTML = "Show";
            }
        }
        function toggleRow(event, buttonElement) {
            event.preventDefault();

            let currentRow = buttonElement.closest('.row');
            let nextRow = currentRow.nextElementSibling;

            // Check if the next row exists and has the "additional" class
            if (nextRow && nextRow.classList.contains('additional')) {
                // Toggle visibility and button text
                if (nextRow.style.display === 'none') {
                    nextRow.style.display = '';
                    buttonElement.textContent = 'Hide details';
                } else {
                    nextRow.style.display = 'none';
                    buttonElement.textContent = 'Show more';
                }
            }
        }
        document.addEventListener('DOMContentLoaded', function () {
            var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'))
            var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl) {
                return new bootstrap.Tooltip(tooltipTriggerEl)
            })

            let requiredInputs = document.querySelectorAll('input[required]');
            let submitButton = document.getElementById('submitButton');

            function checkInputs() {
                let allFilled = true;
                requiredInputs.forEach(input => {
                    if (input.value.trim() === "") {
                        allFilled = false;
                    }
                });
                submitButton.disabled = !allFilled;
            }

            // Attach event listeners to the inputs
            requiredInputs.forEach(input => {
                input.addEventListener('keyup', checkInputs);
                input.addEventListener('input', checkInputs);
            });
        });

        document.addEventListener('submit', function (e) {
            var emailInput = e.target.querySelector('#emailInput');
            if (emailInput) {
                if (!areValidEmails(emailInput.value)) {
                    e.preventDefault(); // Prevent form submission
                    // Apply Bootstrap validation error styling
                    emailInput.classList.add('is-invalid');

                    // Show the modal
                    var errorModal = new bootstrap.Modal(document.getElementById('errorModal'));
                    errorModal.show();
                } else {
                    // If the email is valid, remove the error styling if it exists
                    emailInput.classList.remove('is-invalid');
                }
            }
        });

        function areValidEmails(input) {
            var emails = input.split(/[,;\s]+/);  // Split by comma, semicolon, or whitespace
            var emailPattern = /^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/;

            for (var i = 0; i < emails.length; i++) {
                if (!emailPattern.test(emails[i])) {
                    return false;
                }
            }
            return true;
        }
    </script>
</body>

</html>