{% extends "base.html" %}
{% block header %}
<title>{{ service_name }} libraries</title>
{% endblock header %}
{% block content %}
<div class="container mt-3">
    <h2>Libraries</h2>
    <p>
        Libraries are python modules that are used in other programs.
        Libraries can only be included in other calls by importing them,
        and cannot be invoked directly. To use a library, the program must
        import it. The library can be added to a program at install time,
        which adds the path of the library to the conda environment dedicated to the program.
    </p>
    <p>
        When installing a library, keep in mind the system specification from the
        <a href='{{ url_for("main_routes.index") }}'>index page</a>.
    </p>
    <div class="accordion mb-3" id="addLibraryAccordion">
        <div class="accordion-item shadow">
            <h5 class="accordion-header border-primary border" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                    data-bs-target="#collapseOne">Add a new library</button>
            </h5>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#addLibraryAccordion">
                <div class="accordion-body">
                    <form action='{{ url_for("main_routes.libraries") }}' method="post" enctype="multipart/form-data">
                        <div class="mb-3">
                            <label for="library_package" class="form-label">
                                Library Package<span style="color: red;">*</span>
                            </label>
                            <input type="file" name="library_package" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="unique_library_name" class="form-label">
                                Unique Library Name<span style="color: red;">*</span>
                            </label>
                            <input type="text" name="unique_library_name" class="form-control" required>
                        </div>
                        <div class="mb-3">
                            <label for="path_to_exec" class="form-label">
                                Path to the executables <span class="tooltip-text" data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="It can contain only alphanumeric chars and _-.( -)/, +~!#">(info)</span>
                                <span style="color: red;">*</span>
                            </label>
                            <input type="text" name="path_to_exec" class="form-control" required
                                value="{{ lib_def_path }}">
                        </div>
                        <div class="mb-3">
                            <label for="comment" class="form-label">Comment</label>
                            <input type="text" name="comment" class="form-control">
                        </div>
                        <button type="submit" class="btn btn-primary" id="submitButton">Upload</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-4">
        <div class="row mb-2">
            <div class="col-3">
                <a
                    href="{{ url_for('main_routes.libraries', column='library_name', direction='desc' if direction == 'asc' and column == 'library_name' else 'asc') }}">
                    Library Name
                    {{'↑' if direction == 'asc' and column == 'library_name'}}
                    {{'↓' if direction == 'desc' and column == 'library_name'}}
                </a>
            </div>
            <div class="col-3">
                <a
                    href="{{ url_for('main_routes.libraries', column='upload_date', direction='desc' if direction == 'asc' and column == 'upload_date' else 'asc') }}">
                    Upload Date
                    {{'↑' if direction == 'asc' and column == 'upload_date'}}
                    {{'↓' if direction == 'desc' and column == 'upload_date'}}
                </a>
            </div>
            <div class="col-5 text-end">Action</div>
        </div>
        {% for library in libs.itertuples() %}
        <div class="row toggle-row" id="{{ library.library_name }}">
            <div class="col-6">
                <span data-bs-toggle="tooltip" data-bs-placement="top" title="{{ library.status }}">
                    {% if library.status == "Installed" %}
                    <span class="badge rounded-pill bg-success">✓</span>
                    {% else %}
                    <span class="badge rounded-pill bg-danger">X</span>
                    {% endif %}
                </span>
                {{ library.library_name }}
            </div>
            <div class="col-3">{{ library.upload_date }}</div>
            <div class="col-3 text-end">
                <a class="btn btn-primary btn-sm m-1" title="Download the original zipped library"
                    href="{{ url_for('main_routes.get_lib', library_name=library.library_name) }}">Download
                    ({{ library.size }})</a>
                <button class="btn btn-secondary btn-sm me-1 mb-1 copy-id-link"
                    title="Copy the deeplink to this element">
                    <i class="bi bi-clipboard"></i> Copy Link
                </button>
            </div>
        </div>
        <div class="row additional" style="display: none;">
            <div class="my-2">
                <strong>Status:</strong>
                <br>
                {{ library.status }}
            </div>
            <div class="my-2">
                <strong>Path to the executables:</strong>{{ library.path_to_exec }}
            </div>
            <div class="my-2">
                <strong>Comment</strong>
                {% if library.comment == "" %}
                <span class="text-muted">(None)</span>
                {% else %}
                {{ library.comment }}
                {% endif %}
            </div>
            <div class="my-2">
                <strong>Original filename:</strong> {{ library.orig_filename }}
            </div>
            <div class="my-2">
                <strong>Used in the programs:</strong>
                {% if library.used_in == "[]" %}
                <span class="text-muted">(None)</span>
                {% else %}
                <br>
                {% set used_ins = library.used_in | parse_json %}
                {% for used_in in used_ins %}
                {{ used_in }}
                <br>
                {% endfor %}
                {% endif %}
            </div>
            <div>
                <a class="btn btn-danger btn-sm"
                    href="{{ url_for('main_routes.del_library', library_name=library.library_name) }}">Delete</a>
                {% if library.used_in != "[]" %}
                <span class="badge bg-warning text-dark ms-2" data-bs-toggle="tooltip" data-bs-placement="top" title="">
                    <i class="bi bi-exclamation-triangle-fill"></i>
                    Warning: deleting the library may affect the programs using it. If you delete it now, you will still
                    be
                    able to add it back again later.
                </span>
                {% endif %}
            </div>
        </div>
        {% endfor %}
    </div>
    {% if libs.empty %}
    No runs
    {% if program_name is not none %}with program name {{ program_name }}{% endif %}
    {% endif %}
</div>
{% endblock %}