{% extends "base.html" %}

{% block content %}

<div class="container mt-3">
    <h2>Programs</h2>
    <div class="card">
        <div class="card-header" id="headingAddProgram">
            <h5 class="mb-0">Add New Program</h5>
        </div>

        <div class="card-body">
            <form action="{{ url_for('programs') }}" method="post" enctype="multipart/form-data">
                <div class="mb-3">
                    <label for="program_package" class="form-label">Program Package:</label>
                    <input type="file" name="program_package" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="unique_program_name" class="form-label">Unique Program Name:</label>
                    <input type="text" name="unique_program_name" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="required_python_version" class="form-label">Required Python Version:</label>
                    <input type="text" name="required_python_version" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="selected_libs" class="form-label">Libraries needed to run this program:</label>
                    <select multiple class="form-select" id="selected_libs" size="4" name="selected_libs">
                        {% for lib_name in libs['library_name'] %}
                        <option>{{ lib_name }}</option>
                        {% endfor %}
                    </select>
                </div>
                <button type="submit" class="btn btn-primary">Upload</button>
            </form>
        </div>

    </div>

    <table class="table table-striped mt-3">
        <thead>
            <tr>
                <th>
                    <a
                        href="{{ url_for('programs', column='program_name', direction='desc' if direction == 'asc' and column == 'program_name' else 'asc') }}">
                        Program Name
                        {{'↑' if direction == 'asc' and column == 'program_name'}}
                        {{'↓' if direction == 'desc' and column == 'program_name'}}
                    </a>
                </th>
                <th>
                    <a
                        href="{{ url_for('programs', column='upload_date', direction='desc' if direction == 'asc' and column == 'upload_date' else 'asc') }}">
                        Upload Date
                        {{'↑' if direction == 'asc' and column == 'upload_date'}}
                        {{'↓' if direction == 'desc' and column == 'upload_date'}}
                    </a>
                </th>
                <th>Python Version, Libs</th>
                <th>Status</th>
                <th width="30%">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for program in programs.itertuples() %}
            <tr>
                <td><a href="{{ url_for('get_prg', program_name=program.program_name)}}">{{ program.program_name }}</a>
                </td>
                <td>{{ program.upload_date }}</td>
                <td>py={{ program.python_version }},
                    {% if program.selected_libs == "" %}<span class='text-muted'>(None)</span>
                    {% else %}
                    {{ program.selected_libs }}
                    {% endif %}</td>
                <td>{{ program.status }}</td>
                <td>
                    <a href="{{ url_for('del_program', program_name=program.program_name) }}">Delete</a>
                    {% if program.status != "installed" %}
                    | <a href="{{ url_for('install_log', program_name=program.program_name) }}">Log</a>
                    {% elif "installed" in program.status %}
                    | <a href="{{ url_for('runs', program_name=program.program_name) }}">Run</a>
                    | <a href="#" data-bs-toggle="collapse" data-bs-target="#inheritable{{ program.program_name }}"
                        role="button" onclick="toggleButtonText(this)">Show</a> inputs
                    <div class="collapse" id="inheritable{{ program.program_name }}">
                        {% set inputs = program.inputs|parse_json %}
                        {% for input_name, input_value in inputs %}
                        {% if input_value is not none %}
                        {{ input_name }}: <a
                            href="{{ url_for('get_program_input', program_name=program.program_name, input_value=input_value) }}">{{
                            input_value }}</a>
                        {% else %}
                        {{ input_name }}
                        {% endif %}
                        <br>
                        {% endfor %}
                    </div>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}